Repository manticoresoftware/openapi: changes, and which GitLab CI jobs are due for each by the changed paths.
All: python_testing, javascript_testing, java_testing, elixir_testing, python_push, javascript_push, java_push, elixir_push

Path conditions:
  python_testing: any of: out/manticoresearch-python/**/*
  javascript_testing: any of: out/manticoresearch-javascript/**/*
  java_testing: any of: out/manticoresearch-java/**/*
  elixir_testing: any of: out/manticoresearch-elixir/**/*
  python_push: any of: out/manticoresearch-python/**/*
  javascript_push: any of: out/manticoresearch-javascript/**/*
  java_push: any of: out/manticoresearch-java/**/*
  elixir_push: any of: out/manticoresearch-elixir/**/*

Updated license info
  .gitlab-ci.yml
  docs/javascript/README.md
Due: none

Updated license info
  out/manticoresearch-javascript/README.md
Due: javascript_testing, javascript_push

Updated license info
  .gitlab-ci.yml
  docs/javascript/README.md
  out/manticoresearch-javascript/README.md
Due: javascript_testing, javascript_push

Updated license info
  docs/javascript/README.md
  out/manticoresearch-javascript/README.md
Due: javascript_testing, javascript_push

Updated license info
  out/manticoresearch-javascript/.openapi-generator/VERSION
  out/manticoresearch-javascript/docs/SearchResponse.md
  out/manticoresearch-javascript/docs/UtilsApi.md
  out/manticoresearch-javascript/package.json
  out/manticoresearch-javascript/src/ApiClient.js
  out/manticoresearch-javascript/src/api/IndexApi.js
  out/manticoresearch-javascript/src/api/SearchApi.js
  out/manticoresearch-javascript/src/api/UtilsApi.js
  out/manticoresearch-javascript/src/index.js
  out/manticoresearch-javascript/src/model/BulkResponse.js
  out/manticoresearch-javascript/src/model/DeleteDocumentRequest.js
  out/manticoresearch-javascript/src/model/DeleteResponse.js
  out/manticoresearch-javascript/src/model/ErrorResponse.js
  out/manticoresearch-javascript/src/model/InsertDocumentRequest.js
  out/manticoresearch-javascript/src/model/PercolateRequest.js
  out/manticoresearch-javascript/src/model/SearchRequest.js
  out/manticoresearch-javascript/src/model/SearchResponse.js
  out/manticoresearch-javascript/src/model/SearchResponseHits.js
  out/manticoresearch-javascript/src/model/SuccessResponse.js
  out/manticoresearch-javascript/src/model/UpdateDocumentRequest.js
  out/manticoresearch-javascript/src/model/UpdateResponse.js
  out/manticoresearch-javascript/test/api/Manual.spec.js
  out/manticoresearch-javascript/test/model/BulkResponse.spec.js
  out/manticoresearch-javascript/test/model/DeleteDocumentRequest.spec.js
  out/manticoresearch-javascript/test/model/DeleteResponse.spec.js
  out/manticoresearch-javascript/test/model/ErrorResponse.spec.js
  out/manticoresearch-javascript/test/model/InsertDocumentRequest.spec.js
  out/manticoresearch-javascript/test/model/PercolateRequest.spec.js
  out/manticoresearch-javascript/test/model/SearchRequest.spec.js
  out/manticoresearch-javascript/test/model/SearchResponse.spec.js
  out/manticoresearch-javascript/test/model/SearchResponseHits.spec.js
  out/manticoresearch-javascript/test/model/SuccessResponse.spec.js
  out/manticoresearch-javascript/test/model/UpdateDocumentRequest.spec.js
  out/manticoresearch-javascript/test/model/UpdateResponse.spec.js
Due: javascript_testing, javascript_push

Updated license info
  .gitlab-ci.yml
  out/manticoresearch-javascript/.openapi-generator/VERSION
  out/manticoresearch-javascript/README.md
  out/manticoresearch-javascript/docs/SearchResponse.md
  out/manticoresearch-javascript/docs/UtilsApi.md
  out/manticoresearch-javascript/package.json
  out/manticoresearch-javascript/src/ApiClient.js
  out/manticoresearch-javascript/src/api/IndexApi.js
  out/manticoresearch-javascript/src/api/SearchApi.js
  out/manticoresearch-javascript/src/api/UtilsApi.js
  out/manticoresearch-javascript/src/index.js
  out/manticoresearch-javascript/src/model/BulkResponse.js
  out/manticoresearch-javascript/src/model/DeleteDocumentRequest.js
  out/manticoresearch-javascript/src/model/DeleteResponse.js
  out/manticoresearch-javascript/src/model/ErrorResponse.js
  out/manticoresearch-javascript/src/model/InsertDocumentRequest.js
  out/manticoresearch-javascript/src/model/PercolateRequest.js
  out/manticoresearch-javascript/src/model/SearchRequest.js
  out/manticoresearch-javascript/src/model/SearchResponse.js
  out/manticoresearch-javascript/src/model/SearchResponseHits.js
  out/manticoresearch-javascript/src/model/SuccessResponse.js
  out/manticoresearch-javascript/src/model/UpdateDocumentRequest.js
  out/manticoresearch-javascript/src/model/UpdateResponse.js
  out/manticoresearch-javascript/test/api/Manual.spec.js
  out/manticoresearch-javascript/test/model/BulkResponse.spec.js
  out/manticoresearch-javascript/test/model/DeleteDocumentRequest.spec.js
  out/manticoresearch-javascript/test/model/DeleteResponse.spec.js
  out/manticoresearch-javascript/test/model/ErrorResponse.spec.js
  out/manticoresearch-javascript/test/model/InsertDocumentRequest.spec.js
  out/manticoresearch-javascript/test/model/PercolateRequest.spec.js
  out/manticoresearch-javascript/test/model/SearchRequest.spec.js
  out/manticoresearch-javascript/test/model/SearchResponse.spec.js
  out/manticoresearch-javascript/test/model/SearchResponseHits.spec.js
  out/manticoresearch-javascript/test/model/SuccessResponse.spec.js
  out/manticoresearch-javascript/test/model/UpdateDocumentRequest.spec.js
  out/manticoresearch-javascript/test/model/UpdateResponse.spec.js
Due: javascript_testing, javascript_push

Updated license info
  .gitlab-ci.yml
  out/manticoresearch-javascript/LICENSE.txt
Due: javascript_testing, javascript_push

Fixed a bug in setup.py template
  out/manticoresearch-python/setup.py
  templates/python/setup.mustache
Due: python_testing, python_push

Fixed a Javascript test
  out/manticoresearch-javascript/test/api/Manual.spec.js
  test/javascript/api/Manual.spec.js
Due: javascript_testing, javascript_push

Corrected the Python readme
  out/manticoresearch-python/README.md
  templates/python/common_README.mustache
Due: python_testing, python_push

Updated gitlab-ci
  .gitlab-ci.yml
Due: none

Corrected the Python readme
  .gitlab-ci.yml
  templates/python/common_README.mustache
Due: none

Corrected the Python readme
  templates/python/common_README.mustache
Due: none

Corrected the Python readme
  .gitlab-ci.yml
  out/manticoresearch-python/README.md
  templates/python/common_README.mustache
Due: python_testing, python_push

Updated the client for a new release version
  .gitlab-ci.yml
  out/manticoresearch-java/README.md
Due: java_testing, java_push

Fixed documentation examples
  manticore.yml
  out/manticoresearch-python/README.md
  out/manticoresearch-python/docs/BulkResponse.md
  out/manticoresearch-python/docs/DeleteDocumentRequest.md
  out/manticoresearch-python/docs/IndexApi.md
  out/manticoresearch-python/docs/SearchApi.md
  out/manticoresearch-python/docs/SearchRequest.md
  out/manticoresearch-python/docs/SearchResponse.md
  out/manticoresearch-python/manticoresearch/model/search_request.py
  templates/python/common_README.mustache
  templates/python/model_doc.mustache
Due: python_testing, python_push

Updated docs
  out/manticoresearch-java/LICENSE.txt
Due: java_testing, java_push

Updated Readme autogeneration
  .gitlab-ci.yml
  build.sh
  out/manticoresearch-java/LICENSE.txt
  out/manticoresearch-java/README.md
  templates/Java/README.mustache
Due: java_testing, java_push

Updated the Elixir client
  out/manticoresearch-elixir/.openapi-generator/FILES
  out/manticoresearch-elixir/lib/manticoresearch/api/utils.ex
  out/manticoresearch-elixir/lib/manticoresearch/model/error_response.ex
  out/manticoresearch-elixir/lib/manticoresearch/model/insert_document_request.ex
  out/manticoresearch-elixir/lib/manticoresearch/model/percolate_request.ex
  out/manticoresearch-elixir/lib/manticoresearch/model/percolate_request_query.ex
  out/manticoresearch-elixir/lib/manticoresearch/model/search_request.ex
  out/manticoresearch-elixir/lib/manticoresearch/model/search_response.ex
  out/manticoresearch-elixir/lib/manticoresearch/model/update_document_request.ex
Due: elixir_testing, elixir_push

Implemented the correct handling of big int numbers by the JS client
  build.sh
  out/manticoresearch-javascript/package.json
  out/manticoresearch-javascript/src/ApiClient.js
  patches/javascript.jsonbig.patch
Due: javascript_testing, javascript_push

Updated Readme templates and regenerated the clients
  out/manticoresearch-elixir/README.md
  out/manticoresearch-java/README.md
  out/manticoresearch-javascript/README.md
  out/manticoresearch-python/README.md
  patches/javascript.jsonbig.patch
  templates/Java/README.mustache
  templates/Javascript/README.mustache
  templates/elixir/README.md.mustache
  templates/python/README.mustache
Due: python_testing, javascript_testing, java_testing, elixir_testing, python_push, javascript_push, java_push, elixir_push

Updated the Readme template
  out/manticoresearch-python/README.md
  templates/python/common_README.mustache
Due: python_testing, python_push

Updated Readme
  out/manticoresearch-java/README.md
Due: java_testing, java_push

Updated CI
  .gitlab-ci.yml
Due: none

Updated pom template and regenerated the client
  out/manticoresearch-java/README.md
  out/manticoresearch-java/pom.xml
  templates/Java/libraries/jersey2/pom.mustache
Due: java_testing, java_push
