Repository manticoresoftware/openapi: changes, and which GitLab CI jobs are due for each by the changed paths.
All: python_testing, javascript_testing, java_testing, elixir_testing, python_push, javascript_push, java_push, elixir_push

Path conditions:
  python_testing: any of: out/manticoresearch-python/**/*
  javascript_testing: any of: out/manticoresearch-javascript/**/*
  java_testing: any of: out/manticoresearch-java/**/*
  elixir_testing: any of: out/manticoresearch-elixir/**/*
  python_push: any of: out/manticoresearch-python/**/*
  javascript_push: any of: out/manticoresearch-javascript/**/*
  java_push: any of: out/manticoresearch-java/**/*
  elixir_push: any of: out/manticoresearch-elixir/**/*

fix gpg issue
  .gitlab-ci.yml
  out/manticoresearch-java/pom.xml
Due: java_testing, java_push

fix github urls when adding to subtree
  .gitlab-ci.yml
Due: none

fix variable in CI
  .gitlab-ci.yml
Due: none

fix mvn tool name in CI
  .gitlab-ci.yml
Due: none

add aggregations support
  manticore.yml
  templates/elixir/mix.exs.mustache
  versions/java
  versions/javascript
  versions/python
Due: none

fix artifactVersion, clean timestamp anno, fix pom.xml
  build.sh
  out/manticoresearch-java/README.md
  out/manticoresearch-java/build.gradle
  out/manticoresearch-java/build.sbt
  out/manticoresearch-java/pom.xml
  out/manticoresearch-java/src/main/java/com/manticoresearch/client/ApiClient.java
  out/manticoresearch-java/src/main/java/com/manticoresearch/client/ApiException.java
  out/manticoresearch-java/src/main/java/com/manticoresearch/client/Configuration.java
  out/manticoresearch-java/src/main/java/com/manticoresearch/client/Pair.java
  out/manticoresearch-java/src/main/java/com/manticoresearch/client/StringUtil.java
  out/manticoresearch-java/src/main/java/com/manticoresearch/client/auth/ApiKeyAuth.java
  out/manticoresearch-java/src/main/java/com/manticoresearch/client/auth/HttpBearerAuth.java
  out/manticoresearch-java/src/main/java/com/manticoresearch/client/model/BulkResponse.java
  out/manticoresearch-java/src/main/java/com/manticoresearch/client/model/DeleteDocumentRequest.java
  out/manticoresearch-java/src/main/java/com/manticoresearch/client/model/DeleteResponse.java
  out/manticoresearch-java/src/main/java/com/manticoresearch/client/model/ErrorResponse.java
  out/manticoresearch-java/src/main/java/com/manticoresearch/client/model/InsertDocumentRequest.java
  out/manticoresearch-java/src/main/java/com/manticoresearch/client/model/PercolateRequest.java
  out/manticoresearch-java/src/main/java/com/manticoresearch/client/model/SearchRequest.java
  out/manticoresearch-java/src/main/java/com/manticoresearch/client/model/SearchResponse.java
  out/manticoresearch-java/src/main/java/com/manticoresearch/client/model/SearchResponseHits.java
  out/manticoresearch-java/src/main/java/com/manticoresearch/client/model/SuccessResponse.java
  out/manticoresearch-java/src/main/java/com/manticoresearch/client/model/UpdateDocumentRequest.java
  out/manticoresearch-java/src/main/java/com/manticoresearch/client/model/UpdateResponse.java
  templates/Java/generatedAnnotation.mustache
  templates/Java/libraries/okhttp-gson/apiException.mustache
  templates/Java/libraries/okhttp-gson/pom.mustache
  templates/Java/pom.mustache
Due: java_testing, java_push

fix pom and add some patches
  build.sh
  out/manticoresearch-java/.openapi-generator/FILES
  out/manticoresearch-java/.openapi-generator/VERSION
  out/manticoresearch-java/api/openapi.yaml
  out/manticoresearch-java/pom.xml
  out/manticoresearch-java/src/main/java/com/manticoresearch/client/ApiClient.java
  out/manticoresearch-java/src/main/java/com/manticoresearch/client/model/SuccessResponse.java
  templates/Java/libraries/jersey2/pom.mustache
Due: java_testing, java_push

fix missing client.basePath example, add some missing properties^
  docs/javascript/README.md
  out/manticoresearch-javascript/.gitignore
  out/manticoresearch-javascript/.openapi-generator/FILES
  out/manticoresearch-javascript/README.md
  out/manticoresearch-javascript/docs/DeleteDocumentRequest.md
  out/manticoresearch-javascript/docs/InsertDocumentRequest.md
  out/manticoresearch-javascript/docs/SearchRequest.md
  out/manticoresearch-javascript/docs/SearchResponseHits.md
  out/manticoresearch-javascript/src/model/DeleteDocumentRequest.js
  out/manticoresearch-javascript/src/model/InsertDocumentRequest.js
  out/manticoresearch-javascript/src/model/SearchRequest.js
  out/manticoresearch-javascript/src/model/SearchResponseHits.js
  out/manticoresearch-javascript/test/model/DeleteDocumentRequest.spec.js
  out/manticoresearch-javascript/test/model/InsertDocumentRequest.spec.js
  out/manticoresearch-javascript/test/model/SearchRequest.spec.js
  out/manticoresearch-javascript/test/model/SearchResponseHits.spec.js
  versions/javascript
Due: javascript_testing, javascript_push

max_score, cluster, aggregations in response , replace script_fields with expressions for python
  manticore.yml
  out/manticoresearch-python/docs/DeleteDocumentRequest.md
  out/manticoresearch-python/docs/InsertDocumentRequest.md
  out/manticoresearch-python/docs/SearchApi.md
  out/manticoresearch-python/docs/SearchRequest.md
  out/manticoresearch-python/docs/SearchResponse.md
  out/manticoresearch-python/docs/SearchResponseHits.md
  out/manticoresearch-python/docs/UtilsApi.md
  out/manticoresearch-python/manticoresearch/__init__.py
  out/manticoresearch-python/manticoresearch/api/search_api.py
  out/manticoresearch-python/manticoresearch/api/utils_api.py
  out/manticoresearch-python/manticoresearch/api_client.py
  out/manticoresearch-python/manticoresearch/configuration.py
  out/manticoresearch-python/manticoresearch/models/delete_document_request.py
  out/manticoresearch-python/manticoresearch/models/insert_document_request.py
  out/manticoresearch-python/manticoresearch/models/search_request.py
  out/manticoresearch-python/manticoresearch/models/search_response.py
  out/manticoresearch-python/manticoresearch/models/search_response_hits.py
  out/manticoresearch-python/setup.py
  out/manticoresearch-python/test/test.py
  out/manticoresearch-python/test/test_index_api.py
  out/manticoresearch-python/test/test_manual.py
  versions/python
Due: python_testing, python_push

max_score, cluster, aggregations in response , replace script_fields with expressions for javascript
  out/manticoresearch-javascript/docs/SearchRequest.md
  out/manticoresearch-javascript/docs/SearchResponse.md
  out/manticoresearch-javascript/docs/SearchResponseHits.md
  out/manticoresearch-javascript/package.json
  out/manticoresearch-javascript/src/ApiClient.js
  out/manticoresearch-javascript/src/api/IndexApi.js
  out/manticoresearch-javascript/src/api/SearchApi.js
  out/manticoresearch-javascript/src/api/UtilsApi.js
  out/manticoresearch-javascript/src/index.js
  out/manticoresearch-javascript/src/model/BulkResponse.js
  out/manticoresearch-javascript/src/model/DeleteDocumentRequest.js
  out/manticoresearch-javascript/src/model/DeleteResponse.js
  out/manticoresearch-javascript/src/model/ErrorResponse.js
  out/manticoresearch-javascript/src/model/InsertDocumentRequest.js
  out/manticoresearch-javascript/src/model/PercolateRequest.js
  out/manticoresearch-javascript/src/model/SearchRequest.js
  out/manticoresearch-javascript/src/model/SearchResponse.js
  out/manticoresearch-javascript/src/model/SearchResponseHits.js
  out/manticoresearch-javascript/src/model/SuccessResponse.js
  out/manticoresearch-javascript/src/model/UpdateDocumentRequest.js
  out/manticoresearch-javascript/src/model/UpdateResponse.js
  out/manticoresearch-javascript/test/api/Manual.spec.js
  out/manticoresearch-javascript/test/model/SearchResponse.spec.js
  out/manticoresearch-javascript/test/model/SearchResponseHits.spec.js
  versions/javascript
Due: javascript_testing, javascript_push

max_score, cluster, aggregations in response , replace script_fields with expressions for java
  out/manticoresearch-java/build.gradle
  out/manticoresearch-java/build.sbt
  out/manticoresearch-java/docs/SearchRequest.md
  out/manticoresearch-java/docs/SearchResponse.md
  out/manticoresearch-java/docs/SearchResponseHits.md
  out/manticoresearch-java/pom.xml
  out/manticoresearch-java/src/main/java/com/manticoresearch/client/ApiClient.java
  out/manticoresearch-java/src/main/java/com/manticoresearch/client/model/SearchRequest.java
  out/manticoresearch-java/src/main/java/com/manticoresearch/client/model/SearchResponse.java
  out/manticoresearch-java/src/main/java/com/manticoresearch/client/model/SearchResponseHits.java
  out/manticoresearch-java/src/test/java/com/manticoresearch/client/model/SearchResponseHitsTest.java
  out/manticoresearch-java/src/test/java/com/manticoresearch/client/model/SearchResponseTest.java
  versions/java
Due: java_testing, java_push

fix testing url
  out/manticoresearch-javascript/test/api/Manual.spec.js
  out/manticoresearch-python/test/test.py
  test/java/javatest/src/main/java/com/manticore/clienttest/App.java
  test/javascript/api/Manual.spec.js
  test/python/test.py
Due: python_testing, javascript_testing, python_push, javascript_push

fix tests
  out/manticoresearch-javascript/test/api/Manual.spec.js
  test/javascript/api/Manual.spec.js
  test/python/test_manual.py
Due: javascript_testing, javascript_push

update on readme
  docs/java/README.md
  docs/javascript/README.md
  manticore.yml
  out/manticoresearch-elixir/README.md
  out/manticoresearch-java/README.md
  out/manticoresearch-javascript/README.md
  out/manticoresearch-python/README.md
Due: python_testing, javascript_testing, java_testing, elixir_testing, python_push, javascript_push, java_push, elixir_push

Updated the doc example template and regenerated docs
  out/manticoresearch-python/docs/SearchApi.md
  templates/python/api_doc_example.mustache
Due: python_testing, python_push

Update README.md
  README.md
Due: none

Updatedtemplates and build script, removed json schema
  LICENSE.txt
  README.md
  build.sh
  manticore.json
  templates/Java/libraries/jersey2/api.mustache
  templates/Java/libraries/jersey2/pojo.mustache
Due: none

Updated templates for Java jersey2 version
  templates/Java/libraries/jersey2/ApiClient.mustache
Due: none

Added new field definition named warning to manticore.yml as a part of SearchResponse
  manticore.yml
Due: none

Fixed a bug with SuccessResponse in Java jersey2 version
  templates/Java/libraries/jersey2/model.mustache
  templates/Java/libraries/jersey2/pojo.mustache
Due: none

Updated maven publish script for Java
  .gitlab-ci.yml
Due: none

Updated Java published version
  versions/java
Due: none

Regenerated the Java client
  out/manticoresearch-java/README.md
Due: java_testing, java_push

Regenerated the Java client
  out/manticoresearch-java/README.md
  out/manticoresearch-java/build.gradle
  out/manticoresearch-java/build.sbt
  out/manticoresearch-java/pom.xml
  out/manticoresearch-java/src/main/java/com/manticoresearch/client/ApiClient.java
Due: java_testing, java_push

Multiple minor adjustments to the README
  README.md
Due: none

Updated Python tests
  out/manticoresearch-python/test/test_manual.py
Due: python_testing, python_push

Fixed a bug in Elixir templates, regenerated the Elixir client
  .gitlab-ci.yml
  out/manticoresearch-elixir/.gitignore
  out/manticoresearch-elixir/.openapi-generator-ignore
  out/manticoresearch-elixir/.openapi-generator/FILES
  out/manticoresearch-elixir/.openapi-generator/VERSION
  out/manticoresearch-elixir/README.md
  out/manticoresearch-elixir/config/config.exs
  out/manticoresearch-elixir/lib/manticoresearch/api/index.ex
  out/manticoresearch-elixir/lib/manticoresearch/api/search.ex
  out/manticoresearch-elixir/lib/manticoresearch/api/utils.ex
  out/manticoresearch-elixir/lib/manticoresearch/connection.ex
  out/manticoresearch-elixir/lib/manticoresearch/deserializer.ex
  out/manticoresearch-elixir/lib/manticoresearch/model/bulk_response.ex
  out/manticoresearch-elixir/lib/manticoresearch/model/delete_document_request.ex
  out/manticoresearch-elixir/lib/manticoresearch/model/delete_response.ex
  out/manticoresearch-elixir/lib/manticoresearch/model/error_response.ex
  out/manticoresearch-elixir/lib/manticoresearch/model/insert_document_request.ex
  out/manticoresearch-elixir/lib/manticoresearch/model/percolate_request.ex
  out/manticoresearch-elixir/lib/manticoresearch/model/search_request.ex
  out/manticoresearch-elixir/lib/manticoresearch/model/search_response.ex
  out/manticoresearch-elixir/lib/manticoresearch/model/search_response_hits.ex
  out/manticoresearch-elixir/lib/manticoresearch/model/success_response.ex
  out/manticoresearch-elixir/lib/manticoresearch/model/update_document_request.ex
  out/manticoresearch-elixir/lib/manticoresearch/model/update_response.ex
  out/manticoresearch-elixir/lib/manticoresearch/request_builder.ex
  out/manticoresearch-elixir/mix.exs
  out/manticoresearch-elixir/test/test_helper.exs
  templates/elixir/api.mustache
Due: elixir_testing, elixir_push

Fixed a bug in Elixir templates, regenerated the Elixir client
  out/manticoresearch-elixir/lib/manticoresearch/model/search_response.ex
  templates/elixir/model.mustache
Due: elixir_testing, elixir_push

Updated Elixir templates, regenerated the Elixir client
  out/manticoresearch-elixir/lib/manticoresearch/model/search_response.ex
  templates/elixir/model.mustache
Due: elixir_testing, elixir_push

Updated license info
  LICENSE.txt
  out/manticoresearch-elixir/LICENSE.txt
  out/manticoresearch-java/LICENSE.txt
  out/manticoresearch-javascript/LICENSE.txt
  out/manticoresearch-python/LICENSE.txt
Due: python_testing, javascript_testing, java_testing, elixir_testing, python_push, javascript_push, java_push, elixir_push
