Repository manticoresoftware/openapi: changes, and which GitLab CI jobs are due for each by the changed paths.
All: python_testing, javascript_testing, java_testing, elixir_testing, python_push, javascript_push, java_push, elixir_push

Path conditions:
  python_testing: any of: out/manticoresearch-python/**/*
  javascript_testing: any of: out/manticoresearch-javascript/**/*
  java_testing: any of: out/manticoresearch-java/**/*
  elixir_testing: any of: out/manticoresearch-elixir/**/*
  python_push: any of: out/manticoresearch-python/**/*
  javascript_push: any of: out/manticoresearch-javascript/**/*
  java_push: any of: out/manticoresearch-java/**/*
  elixir_push: any of: out/manticoresearch-elixir/**/*

Fixed the UtilsApi doc example, updated Readme
  manticore.yml
  out/manticoresearch-python/README.md
  out/manticoresearch-python/docs/UtilsApi.md
  out/manticoresearch-python/manticoresearch/model_utils.py
  templates/python/README.mustache
Due: python_testing, python_push

Updated Readme
  out/manticoresearch-csharp/README.md
Due: none

Updated Readme
  out/manticoresearch-csharp/README.md
  templates/csharp-netcore/README.mustache
Due: none

Regenerated the csharp client
  build.sh
  out/manticoresearch-csharp/.openapi-generator/FILES
  out/manticoresearch-csharp/.travis.yml
  out/manticoresearch-csharp/ManticoreSearch.sln
  out/manticoresearch-csharp/README.md
  out/manticoresearch-csharp/appveyor.yml
  out/manticoresearch-csharp/build.bat
  out/manticoresearch-csharp/build.sh
  out/manticoresearch-csharp/docs/IndexApi.md
  out/manticoresearch-csharp/docs/SearchApi.md
  out/manticoresearch-csharp/docs/UtilsApi.md
  out/manticoresearch-csharp/mono_nunit_test.sh
  out/manticoresearch-csharp/src/ManticoreSearch.Test/ManticoreSearch.Test.csproj
  out/manticoresearch-csharp/src/ManticoreSearch.Test/packages.config
  out/manticoresearch-csharp/src/ManticoreSearch/Client/ApiClient.cs
  out/manticoresearch-csharp/src/ManticoreSearch/Client/ClientUtils.cs
  out/manticoresearch-csharp/src/ManticoreSearch/Client/Configuration.cs
  out/manticoresearch-csharp/src/ManticoreSearch/Client/FileParameter.cs
  out/manticoresearch-csharp/src/ManticoreSearch/Client/IAsynchronousClient.cs
  out/manticoresearch-csharp/src/ManticoreSearch/Client/ISynchronousClient.cs
  out/manticoresearch-csharp/src/ManticoreSearch/Client/Multimap.cs
  out/manticoresearch-csharp/src/ManticoreSearch/Client/RequestOptions.cs
  out/manticoresearch-csharp/src/ManticoreSearch/Client/RetryConfiguration.cs
  out/manticoresearch-csharp/src/ManticoreSearch/Client/WebRequestPathBuilder.cs
  out/manticoresearch-csharp/src/ManticoreSearch/ManticoreSearch.csproj
  out/manticoresearch-csharp/src/ManticoreSearch/ManticoreSearch.nuspec
  out/manticoresearch-csharp/src/ManticoreSearch/Model/AbstractOpenAPISchema.cs
  out/manticoresearch-csharp/src/ManticoreSearch/Properties/AssemblyInfo.cs
  out/manticoresearch-csharp/src/ManticoreSearch/packages.config
  templates/csharp-netcore/ApiClient.mustache
  templates/csharp-netcore/api.mustache
  templates/csharp-netcore/model.mustache
Due: none

Updated Readme for the JS client
  out/manticoresearch-javascript/README.md
  templates/Javascript/README.mustache
Due: javascript_testing, javascript_push

update api_doc_example.mustache
  out/manticoresearch-python/.openapi-generator/VERSION
  out/manticoresearch-python/docs/IndexApi.md
  out/manticoresearch-python/docs/SearchApi.md
  out/manticoresearch-python/docs/UtilsApi.md
  templates/python/api_doc_example.mustache
Due: python_testing, python_push

Added auto tests for the .Net client
  build.sh
  out/manticoresearch-csharp/.github/workflows/ci.yml
  out/manticoresearch-csharp/.openapi-generator/VERSION
  out/manticoresearch-csharp/ManticoreSearch.sln
  out/manticoresearch-csharp/src/ManticoreSearch.Test/Api/IndexApiTests.cs
  out/manticoresearch-csharp/src/ManticoreSearch.Test/Api/SearchApiTests.cs
  out/manticoresearch-csharp/src/ManticoreSearch.Test/Api/UtilsApiTests.cs
  out/manticoresearch-csharp/src/ManticoreSearch/Api/IndexApi.cs
  out/manticoresearch-csharp/src/ManticoreSearch/Api/SearchApi.cs
  out/manticoresearch-csharp/src/ManticoreSearch/Api/UtilsApi.cs
  out/manticoresearch-csharp/src/ManticoreSearch/Client/ApiClient.cs
  out/manticoresearch-csharp/src/ManticoreSearch/Model/BulkResponse.cs
  out/manticoresearch-csharp/src/ManticoreSearch/Model/PercolateRequestQuery.cs
  templates/csharp-netcore/api_test.mustache
  templates/csharp-netcore/libraries/httpclient/ApiClient.mustache
  templates/csharp-netcore/libraries/httpclient/api.mustache
  templates/csharp-netcore/modelGeneric.mustache
Due: none

Updated auto tests for the .Net client
  gh-actions/csharp/.github/workflows/ci.yml
  out/manticoresearch-csharp/ManticoreSearch.sln
  out/manticoresearch-csharp/src/ManticoreSearch.Test/Api/IndexApiTests.cs
  out/manticoresearch-csharp/src/ManticoreSearch.Test/Api/SearchApiTests.cs
  out/manticoresearch-csharp/src/ManticoreSearch.Test/Api/UtilsApiTests.cs
  templates/csharp-netcore/api_test.mustache
Due: none

Added info about the .NET client
  README.md
  out/manticoresearch-csharp/ManticoreSearch.sln
  out/manticoresearch-csharp/README.md
  out/manticoresearch-csharp/src/ManticoreSearch.Test/Api/IndexApiTests.cs
  out/manticoresearch-csharp/src/ManticoreSearch.Test/Api/SearchApiTests.cs
  out/manticoresearch-csharp/src/ManticoreSearch.Test/Api/UtilsApiTests.cs
  templates/csharp-netcore/README.mustache
  templates/csharp-netcore/api_test.mustache
Due: none

Fixed a typo in the .Net tests
  out/manticoresearch-csharp/ManticoreSearch.sln
  out/manticoresearch-csharp/src/ManticoreSearch.Test/Api/IndexApiTests.cs
  out/manticoresearch-csharp/src/ManticoreSearch.Test/Api/SearchApiTests.cs
  out/manticoresearch-csharp/src/ManticoreSearch.Test/Api/UtilsApiTests.cs
  templates/csharp-netcore/api_test.mustache
Due: none

Fixed the Readme template, regenerated the client
  out/manticoresearch-javascript/.openapi-generator/VERSION
  out/manticoresearch-javascript/README.md
  out/manticoresearch-javascript/package.json
  out/manticoresearch-javascript/src/ApiClient.js
  out/manticoresearch-javascript/src/api/IndexApi.js
  out/manticoresearch-javascript/src/api/SearchApi.js
  out/manticoresearch-javascript/src/api/UtilsApi.js
  out/manticoresearch-javascript/src/index.js
  out/manticoresearch-javascript/src/model/BulkResponse.js
  out/manticoresearch-javascript/src/model/DeleteDocumentRequest.js
  out/manticoresearch-javascript/src/model/DeleteResponse.js
  out/manticoresearch-javascript/src/model/ErrorResponse.js
  out/manticoresearch-javascript/src/model/InsertDocumentRequest.js
  out/manticoresearch-javascript/src/model/PercolateRequest.js
  out/manticoresearch-javascript/src/model/PercolateRequestQuery.js
  out/manticoresearch-javascript/src/model/SearchRequest.js
  out/manticoresearch-javascript/src/model/SearchResponse.js
  out/manticoresearch-javascript/src/model/SearchResponseHits.js
  out/manticoresearch-javascript/src/model/SuccessResponse.js
  out/manticoresearch-javascript/src/model/UpdateDocumentRequest.js
  out/manticoresearch-javascript/src/model/UpdateResponse.js
  patches/javascript.jsonbig.patch
  templates/Javascript/README.mustache
  versions/javascript
Due: javascript_testing, javascript_push

Updated Readme
  out/manticoresearch-javascript/README.md
  templates/Javascript/README.mustache
Due: javascript_testing, javascript_push

Updated copyrights
  out/manticoresearch-elixir/LICENSE.txt
  out/manticoresearch-java/LICENSE.txt
  out/manticoresearch-javascript/LICENSE.txt
  out/manticoresearch-python/LICENSE.txt
Due: python_testing, javascript_testing, java_testing, elixir_testing, python_push, javascript_push, java_push, elixir_push

Updated ci config
  .gitlab-ci.yml
Due: none

Added the support of api version to gitlab workflow
  .gitlab-ci.yml
  out/manticoresearch-python/README.md
Due: python_testing, python_push

Updated SearchApi related templates and regenerated the Python client
  .gitlab-ci.yml
  LICENSE.txt
  build.sh
  docs/csharp/docs/SearchApi.md
  docs/java/docs/SearchApi.md
  docs/javascript/docs/SearchApi.md
  docs/python/docs/SearchApi.md
  gh-actions/csharp/.github/workflows/ci.yml
  manticore.yml
  templates/python/README.mustache
  templates/python/api.mustache
  templates/python/model.mustache
  templates/python/model_doc.mustache
  test/python/test_manual.py
  versions/python
Due: none

Updated documentation
  build.sh
  docs/python/docs/SearchApi.md
  manticore.yml
  out/manticoresearch-python/README.md
  out/manticoresearch-python/docs/BoolFilter.md
  out/manticoresearch-python/docs/EqualsFilter.md
  out/manticoresearch-python/docs/GeoDistanceFilter.md
  out/manticoresearch-python/docs/HighlightField.md
  out/manticoresearch-python/docs/InFilter.md
  out/manticoresearch-python/docs/IndexApi.md
  out/manticoresearch-python/docs/MatchFilter.md
  out/manticoresearch-python/docs/MatchOpFilter.md
  out/manticoresearch-python/docs/MatchPhraseFilter.md
  out/manticoresearch-python/docs/RangeFilter.md
  out/manticoresearch-python/docs/SearchApi.md
  out/manticoresearch-python/docs/SearchRequest.md
  out/manticoresearch-python/docs/SortMVA.md
  out/manticoresearch-python/docs/SortOrder.md
  out/manticoresearch-python/docs/SourceByRules.md
  out/manticoresearch-python/docs/UtilsApi.md
  out/manticoresearch-python/manticoresearch/api/index_api.py
  out/manticoresearch-python/manticoresearch/api/search_api.py
  templates/python/README.mustache
  templates/python/api_doc.mustache
  templates/python/api_doc_example.mustache
  templates/python/model_doc.mustache
Due: python_testing, python_push

Updated docs and Readme
  docs/python/docs/SearchApi.md
  manticore.yml
  out/manticoresearch-python/README.md
  out/manticoresearch-python/docs/SearchApi.md
  out/manticoresearch-python/docs/SearchRequest.md
  out/manticoresearch-python/manticoresearch/__init__.py
  out/manticoresearch-python/manticoresearch/api/search_api.py
  out/manticoresearch-python/manticoresearch/configuration.py
  out/manticoresearch-python/manticoresearch/model/__init__.py
  out/manticoresearch-python/manticoresearch/model_utils.py
  templates/python/README.mustache
  templates/python/README_onlypackage.mustache
  templates/python/common_README.mustache
  templates/python/model_doc.mustache
Due: python_testing, python_push

Updated docs and Readme
  docs/python/docs/SearchApi.md
  out/manticoresearch-python/README.md
  out/manticoresearch-python/docs/SearchApi.md
  templates/python/common_README.mustache
Due: python_testing, python_push

Fixed formatting
  out/manticoresearch-python/README.md
  templates/python/common_README.mustache
Due: python_testing, python_push

Updated docs and Readme
  build.sh
  docs/javascript/docs/SearchApi.md
  out/manticoresearch-javascript/README.md
  out/manticoresearch-javascript/docs/Aggregation.md
  out/manticoresearch-javascript/docs/BoolFilter.md
  out/manticoresearch-javascript/docs/EqualsFilter.md
  out/manticoresearch-javascript/docs/GeoDistanceFilter.md
  out/manticoresearch-javascript/docs/Highlight.md
  out/manticoresearch-javascript/docs/HighlightField.md
  out/manticoresearch-javascript/docs/InFilter.md
  out/manticoresearch-javascript/docs/MatchFilter.md
  out/manticoresearch-javascript/docs/MatchOpFilter.md
  out/manticoresearch-javascript/docs/MatchPhraseFilter.md
  out/manticoresearch-javascript/docs/RangeFilter.md
  out/manticoresearch-javascript/docs/SearchApi.md
  out/manticoresearch-javascript/docs/SearchRequest.md
  out/manticoresearch-javascript/docs/SortMVA.md
  out/manticoresearch-javascript/docs/SortOrder.md
  out/manticoresearch-javascript/docs/SourceByRules.md
  out/manticoresearch-javascript/src/api/IndexApi.js
  out/manticoresearch-javascript/src/api/SearchApi.js
  out/manticoresearch-javascript/src/index.js
  templates/Javascript/README.mustache
  templates/Javascript/model_doc.mustache
Due: javascript_testing, javascript_push

Updated documentation
  docs/csharp/docs/SearchApi.md
  out/manticoresearch-csharp/ManticoreSearch.sln
  out/manticoresearch-csharp/docs/SearchApi.md
Due: none

Updated SearchApi and respective tests and docs, regenerated the client
  docs/python/docs/SearchApi.md
  out/manticoresearch-python/docs/GeoDistanceFilterLocationAnchor.md
  out/manticoresearch-python/docs/RangeFilter.md
  out/manticoresearch-python/docs/SearchApi.md
  out/manticoresearch-python/docs/SearchRequest.md
  out/manticoresearch-python/manticoresearch/model/geo_distance_filter_location_anchor.py
  out/manticoresearch-python/manticoresearch/model/range_filter.py
  out/manticoresearch-python/manticoresearch/model/search_request.py
  out/manticoresearch-python/test/test_manual.py
  test/python/test_manual.py
Due: python_testing, python_push

Updated SearchApi and respective tests and docs, regenerated the client
  docs/javascript/docs/SearchApi.md
  out/manticoresearch-javascript/docs/SearchApi.md
  out/manticoresearch-javascript/docs/SearchRequest.md
  out/manticoresearch-javascript/package-lock.json
  out/manticoresearch-javascript/package.json
  out/manticoresearch-javascript/src/api/IndexApi.js
  out/manticoresearch-javascript/src/api/SearchApi.js
  out/manticoresearch-javascript/src/api/UtilsApi.js
  out/manticoresearch-javascript/src/model/SearchRequest.js
  out/manticoresearch-javascript/test/api/Manual.spec.js
  out/manticoresearch-javascript/test/model/SearchRequest.spec.js
  templates/Javascript/api.mustache
  test/javascript/api/Manual.spec.js
Due: javascript_testing, javascript_push

Updated SearchApi and respective tests and docs, regenerated the client
  docs/csharp/docs/SearchApi.md
  out/manticoresearch-csharp/ManticoreSearch.sln
  out/manticoresearch-csharp/docs/GeoDistanceFilterLocationAnchor.md
  out/manticoresearch-csharp/docs/RangeFilter.md
  out/manticoresearch-csharp/docs/SearchApi.md
  out/manticoresearch-csharp/docs/SearchRequest.md
  out/manticoresearch-csharp/src/ManticoreSearch.Test/Api/IndexApiTests.cs
  out/manticoresearch-csharp/src/ManticoreSearch.Test/Api/SearchApiTests.cs
  out/manticoresearch-csharp/src/ManticoreSearch.Test/Api/UtilsApiTests.cs
  out/manticoresearch-csharp/src/ManticoreSearch.Test/Model/SearchRequestTests.cs
  out/manticoresearch-csharp/src/ManticoreSearch/Api/SearchApi.cs
  out/manticoresearch-csharp/src/ManticoreSearch/Model/GeoDistanceFilterLocationAnchor.cs
  out/manticoresearch-csharp/src/ManticoreSearch/Model/RangeFilter.cs
  out/manticoresearch-csharp/src/ManticoreSearch/Model/SearchRequest.cs
  templates/csharp-netcore/api_test.mustache
  templates/csharp-netcore/libraries/httpclient/api.mustache
Due: none

Updated the API yaml schema, updated Readme
  README.md
  manticore.yml
Due: none

Updated Readme
  out/manticoresearch-csharp/README.md
  out/manticoresearch-java/README.md
  out/manticoresearch-javascript/README.md
  out/manticoresearch-python/README.md
Due: python_testing, javascript_testing, java_testing, python_push, javascript_push, java_push

Updated Readme for Java client
  out/manticoresearch-java/README.md
  templates/Java/README.mustache
Due: java_testing, java_push

typescript_support
  .gitlab-ci.yml
  README.md
  build.sh
  docs/typescript/README.md
  docs/typescript/docs/IndexApi.md
  docs/typescript/docs/SearchApi.md
  docs/typescript/docs/UtilsApi.md
  out/manticoresearch-typescript/.gitignore
  out/manticoresearch-typescript/.npmignore
  out/manticoresearch-typescript/.openapi-generator-ignore
  out/manticoresearch-typescript/.openapi-generator/FILES
  out/manticoresearch-typescript/.openapi-generator/VERSION
  out/manticoresearch-typescript/LICENSE.txt
  out/manticoresearch-typescript/README.md
  out/manticoresearch-typescript/docs/IndexApi.md
  out/manticoresearch-typescript/docs/SearchApi.md
  out/manticoresearch-typescript/docs/UtilsApi.md
  out/manticoresearch-typescript/package.json
  out/manticoresearch-typescript/src/apis/IndexApi.ts
  out/manticoresearch-typescript/src/apis/SearchApi.ts
  out/manticoresearch-typescript/src/apis/UtilsApi.ts
  out/manticoresearch-typescript/src/apis/index.ts
  out/manticoresearch-typescript/src/index.ts
  out/manticoresearch-typescript/src/models/index.ts
  out/manticoresearch-typescript/src/runtime.ts
  out/manticoresearch-typescript/tsconfig.json
  templates/Typescript/README.mustache
  templates/Typescript/licenseInfo.mustache
  templates/Typescript/package.mustache
  versions/typescript
Due: none

typescript_support, api.mustache, fix sql method
  out/manticoresearch-typescript/src/apis/UtilsApi.ts
  templates/Typescript/apis.mustache
Due: none

typescript_support, fix compiler target and docs
  docs/typescript/docs/UtilsApi.md
  out/manticoresearch-typescript/README.md
  out/manticoresearch-typescript/docs/UtilsApi.md
  templates/Typescript/README.mustache
  templates/Typescript/tsconfig.mustache
Due: none

Added Typescript client
  .gitlab-ci.yml
  out/manticoresearch-typescript/.gitignore
  out/manticoresearch-typescript/.npmignore
  out/manticoresearch-typescript/.openapi-generator-ignore
  out/manticoresearch-typescript/.openapi-generator/FILES
  out/manticoresearch-typescript/.openapi-generator/VERSION
  out/manticoresearch-typescript/LICENSE.txt
  out/manticoresearch-typescript/README.md
  out/manticoresearch-typescript/docs/IndexApi.md
  out/manticoresearch-typescript/docs/SearchApi.md
  out/manticoresearch-typescript/docs/UtilsApi.md
  out/manticoresearch-typescript/package.json
  out/manticoresearch-typescript/src/apis/IndexApi.ts
  out/manticoresearch-typescript/src/apis/SearchApi.ts
  out/manticoresearch-typescript/src/apis/UtilsApi.ts
  out/manticoresearch-typescript/src/apis/index.ts
  out/manticoresearch-typescript/src/index.ts
  out/manticoresearch-typescript/src/models/index.ts
  out/manticoresearch-typescript/src/runtime.ts
  out/manticoresearch-typescript/test/manual.test.ts
  out/manticoresearch-typescript/tsconfig.json
Due: none
