Repository manticoresoftware/openapi: changes, and which GitLab CI jobs are due for each by the changed paths.
All: python_testing, javascript_testing, java_testing, python_push, javascript_push, java_push

python_testing:
  image: python
  stage: test
  before_script:
  - - curl -X POST http://manticoresearch-manticore:9308/sql -d "mode=raw&query=CREATE TABLE test(content text, name text attribute, cat integer)"
  ...

javascript_testing:
  image: node
  stage: test
  before_script:
  - - curl -X POST http://manticoresearch-manticore:9308/sql -d "mode=raw&query=CREATE TABLE test(content text, name text attribute, cat integer)"
  ...

java_testing:
  image: maven
  stage: test
  before_script:
  - - curl -X POST http://manticoresearch-manticore:9308/sql -d "mode=raw&query=CREATE TABLE test(content text, name text attribute, cat integer)"
  ...

python_push:
  stage: push
  before_script:
  - apt-get install -y git
  script:
  - git subtree push --prefix=out/manticoresearch-python https://$GITHUB_USERNAME:$GITHUB_TOKEN@github.com/manticoresoftware/manticoresearch-python.git master
  dependencies:
  - python_testing

javascript_push:
  stage: push
  before_script:
  - apt-get install -y git
  script:
  - git subtree push --prefix=out/manticoresearch-javascript https://$GITHUB_USERNAME:$GITHUB_TOKEN@github.com/manticoresoftware/manticoresearch-javascript.git master
  dependencies:
  - javascript_testing

java_push:
  stage: push
  before_script:
  - apt-get install -y git
  script:
  - git subtree push --prefix=out/manticoresearch-java https://$GITHUB_USERNAME:$GITHUB_TOKEN@github.com/manticoresoftware/manticoresearch-java.git master
  dependencies:
  - java_testing

update java license mustache
  templates/Java/licenseInfo.mustache
Due: none

fix package name
  build.sh
  out/manticoresearch-python/.gitlab-ci.yml
  out/manticoresearch-python/.openapi-generator/FILES
  out/manticoresearch-python/.travis.yml
  out/manticoresearch-python/README.md
  out/manticoresearch-python/docs/IndexApi.md
  out/manticoresearch-python/docs/SearchApi.md
  out/manticoresearch-python/docs/UtilsApi.md
  out/manticoresearch-python/manticoresearch/__init__.py
  out/manticoresearch-python/manticoresearch/api/__init__.py
  out/manticoresearch-python/manticoresearch/api/index_api.py
  out/manticoresearch-python/manticoresearch/api/search_api.py
  out/manticoresearch-python/manticoresearch/api/utils_api.py
  out/manticoresearch-python/manticoresearch/api_client.py
  out/manticoresearch-python/manticoresearch/configuration.py
  out/manticoresearch-python/manticoresearch/exceptions.py
  out/manticoresearch-python/manticoresearch/models/__init__.py
  out/manticoresearch-python/manticoresearch/models/bulk_response.py
  out/manticoresearch-python/manticoresearch/models/delete_document_request.py
  out/manticoresearch-python/manticoresearch/models/delete_response.py
  out/manticoresearch-python/manticoresearch/models/error_response.py
  out/manticoresearch-python/manticoresearch/models/insert_document_request.py
  out/manticoresearch-python/manticoresearch/models/percolate_request.py
  out/manticoresearch-python/manticoresearch/models/search_request.py
  out/manticoresearch-python/manticoresearch/models/search_response.py
  out/manticoresearch-python/manticoresearch/models/search_response_hits.py
  out/manticoresearch-python/manticoresearch/models/success_response.py
  out/manticoresearch-python/manticoresearch/models/update_document_request.py
  out/manticoresearch-python/manticoresearch/models/update_response.py
  out/manticoresearch-python/manticoresearch/rest.py
  out/manticoresearch-python/openapi_client/__init__.py
  out/manticoresearch-python/openapi_client/api/__init__.py
  out/manticoresearch-python/openapi_client/models/__init__.py
  out/manticoresearch-python/openapi_client/models/update_document_request.py
  out/manticoresearch-python/setup.py
  out/manticoresearch-python/tox.ini
  patches/python_bulk.patch
Due: python_testing, python_push

fix package name in tests
  out/manticoresearch-python/test/test.py
  out/manticoresearch-python/test/test_index_api.py
  out/manticoresearch-python/test/test_search_api.py
  test/python/test.py
  test/python/test_index_api.py
  test/python/test_search_api.py
Due: python_testing, python_push

update readme:
  README.md
Due: none

update package description and some cleanup
  manticore.yml
  out/manticoresearch-python/README.md
  out/manticoresearch-python/manticoresearch/__init__.py
  out/manticoresearch-python/manticoresearch/api/index_api.py
  out/manticoresearch-python/manticoresearch/api/search_api.py
  out/manticoresearch-python/manticoresearch/api/utils_api.py
  out/manticoresearch-python/manticoresearch/api_client.py
  out/manticoresearch-python/manticoresearch/configuration.py
  out/manticoresearch-python/manticoresearch/exceptions.py
  out/manticoresearch-python/manticoresearch/models/__init__.py
  out/manticoresearch-python/manticoresearch/models/bulk_response.py
  out/manticoresearch-python/manticoresearch/models/delete_document_request.py
  out/manticoresearch-python/manticoresearch/models/delete_response.py
  out/manticoresearch-python/manticoresearch/models/error_response.py
  out/manticoresearch-python/manticoresearch/models/insert_document_request.py
  out/manticoresearch-python/manticoresearch/models/percolate_request.py
  out/manticoresearch-python/manticoresearch/models/search_request.py
  out/manticoresearch-python/manticoresearch/models/search_response.py
  out/manticoresearch-python/manticoresearch/models/search_response_hits.py
  out/manticoresearch-python/manticoresearch/models/success_response.py
  out/manticoresearch-python/manticoresearch/models/update_document_request.py
  out/manticoresearch-python/manticoresearch/models/update_response.py
  out/manticoresearch-python/manticoresearch/rest.py
  out/manticoresearch-python/setup.py
  templates/python/README.mustache
  templates/python/README_onlypackage.mustache
  templates/python/common_README.mustache
  templates/python/partial_header.mustache
  templates/python/setup.mustache
Due: python_testing, python_push

improve setup.py
  out/manticoresearch-python/setup.py
  templates/python/setup.mustache
Due: python_testing, python_push

fix version
  out/manticoresearch-python/setup.py
Due: python_testing, python_push

update readme
  out/manticoresearch-python/README.md
  templates/python/README.mustache
Due: python_testing, python_push

update sample code in readme
  build.sh
  out/manticoresearch-python/README.md
  patches/python_readme.patch
Due: python_testing, python_push

fix installer for python 2.7
  out/manticoresearch-python/setup.py
  templates/python/setup.mustache
Due: python_testing, python_push

update package and info
  out/manticoresearch-javascript/README.md
  out/manticoresearch-javascript/package.json
  out/manticoresearch-javascript/src/ApiClient.js
  out/manticoresearch-javascript/src/api/IndexApi.js
  out/manticoresearch-javascript/src/api/SearchApi.js
  out/manticoresearch-javascript/src/api/UtilsApi.js
  out/manticoresearch-javascript/src/index.js
  out/manticoresearch-javascript/src/model/BulkResponse.js
  out/manticoresearch-javascript/src/model/DeleteDocumentRequest.js
  out/manticoresearch-javascript/src/model/DeleteResponse.js
  out/manticoresearch-javascript/src/model/ErrorResponse.js
  out/manticoresearch-javascript/src/model/InsertDocumentRequest.js
  out/manticoresearch-javascript/src/model/PercolateRequest.js
  out/manticoresearch-javascript/src/model/SearchRequest.js
  out/manticoresearch-javascript/src/model/SearchResponse.js
  out/manticoresearch-javascript/src/model/SearchResponseHits.js
  out/manticoresearch-javascript/src/model/SuccessResponse.js
  out/manticoresearch-javascript/src/model/UpdateDocumentRequest.js
  out/manticoresearch-javascript/src/model/UpdateResponse.js
  templates/Javascript/package.mustache
Due: javascript_testing, javascript_push

update readme and namespace
  out/manticoresearch-javascript/README.md
  out/manticoresearch-javascript/test/api/IndexApi.spec.js
  out/manticoresearch-javascript/test/api/SearchApi.spec.js
  out/manticoresearch-javascript/test/api/UtilsApi.spec.js
  out/manticoresearch-javascript/test/model/BulkResponse.spec.js
  out/manticoresearch-javascript/test/model/DeleteDocumentRequest.spec.js
  out/manticoresearch-javascript/test/model/DeleteResponse.spec.js
  out/manticoresearch-javascript/test/model/ErrorResponse.spec.js
  out/manticoresearch-javascript/test/model/InsertDocumentRequest.spec.js
  out/manticoresearch-javascript/test/model/PercolateRequest.spec.js
  out/manticoresearch-javascript/test/model/SearchRequest.spec.js
  out/manticoresearch-javascript/test/model/SearchResponse.spec.js
  out/manticoresearch-javascript/test/model/SearchResponseHits.spec.js
  out/manticoresearch-javascript/test/model/SuccessResponse.spec.js
  out/manticoresearch-javascript/test/model/UpdateDocumentRequest.spec.js
  out/manticoresearch-javascript/test/model/UpdateResponse.spec.js
  templates/Javascript/README.mustache
Due: javascript_testing, javascript_push

add manual jobs for publishing packages
  .gitlab-ci.yml
Due: none

add version files and passing package version on build
  build.sh
  versions/javascript
  versions/python
Due: none

fix version package variable for python
  build.sh
Due: none

fix readme, update version
  out/manticoresearch-javascript/README.md
  out/manticoresearch-javascript/package.json
  out/manticoresearch-javascript/src/ApiClient.js
  out/manticoresearch-javascript/src/api/IndexApi.js
  out/manticoresearch-javascript/src/api/SearchApi.js
  out/manticoresearch-javascript/src/api/UtilsApi.js
  out/manticoresearch-javascript/src/index.js
  out/manticoresearch-javascript/src/model/BulkResponse.js
  out/manticoresearch-javascript/src/model/DeleteDocumentRequest.js
  out/manticoresearch-javascript/src/model/DeleteResponse.js
  out/manticoresearch-javascript/src/model/ErrorResponse.js
  out/manticoresearch-javascript/src/model/InsertDocumentRequest.js
  out/manticoresearch-javascript/src/model/PercolateRequest.js
  out/manticoresearch-javascript/src/model/SearchRequest.js
  out/manticoresearch-javascript/src/model/SearchResponse.js
  out/manticoresearch-javascript/src/model/SearchResponseHits.js
  out/manticoresearch-javascript/src/model/SuccessResponse.js
  out/manticoresearch-javascript/src/model/UpdateDocumentRequest.js
  out/manticoresearch-javascript/src/model/UpdateResponse.js
  templates/Javascript/README.mustache
Due: javascript_testing, javascript_push

fix user agent, version in files
  out/manticoresearch-python/manticoresearch/__init__.py
  out/manticoresearch-python/manticoresearch/api_client.py
  out/manticoresearch-python/manticoresearch/configuration.py
  out/manticoresearch-python/setup.py
  templates/python/api_client.mustache
Due: python_testing, python_push

try to fix subtree on python
  .gitlab-ci.yml
Due: none

try to fix subtree on python again
  .gitlab-ci.yml
Due: none

update publishing and version
  README.md
Due: none

elixir tryout
  build.sh
  out/manticore-elixir/.gitignore
  out/manticore-elixir/.openapi-generator-ignore
  out/manticore-elixir/.openapi-generator/FILES
  out/manticore-elixir/.openapi-generator/VERSION
  out/manticore-elixir/README.md
  out/manticore-elixir/config/config.exs
  out/manticore-elixir/lib/manticoresearch/api/index.ex
  out/manticore-elixir/lib/manticoresearch/api/search.ex
  out/manticore-elixir/lib/manticoresearch/api/utils.ex
  out/manticore-elixir/lib/manticoresearch/connection.ex
  out/manticore-elixir/lib/manticoresearch/deserializer.ex
  out/manticore-elixir/lib/manticoresearch/model/bulk_response.ex
  out/manticore-elixir/lib/manticoresearch/model/delete_document_request.ex
  out/manticore-elixir/lib/manticoresearch/model/delete_response.ex
  out/manticore-elixir/lib/manticoresearch/model/error_response.ex
  out/manticore-elixir/lib/manticoresearch/model/insert_document_request.ex
  out/manticore-elixir/lib/manticoresearch/model/percolate_request.ex
  out/manticore-elixir/lib/manticoresearch/model/search_request.ex
  out/manticore-elixir/lib/manticoresearch/model/search_response.ex
  out/manticore-elixir/lib/manticoresearch/model/search_response_hits.ex
  out/manticore-elixir/lib/manticoresearch/model/success_response.ex
  out/manticore-elixir/lib/manticoresearch/model/update_document_request.ex
  out/manticore-elixir/lib/manticoresearch/model/update_response.ex
  out/manticore-elixir/lib/manticoresearch/request_builder.ex
  out/manticore-elixir/mix.exs
  out/manticore-elixir/test/test_helper.exs
  templates/elixir/README.md.mustache
  templates/elixir/api.mustache
  templates/elixir/config.exs.mustache
  templates/elixir/connection.ex.mustache
  templates/elixir/deserializer.ex.mustache
  templates/elixir/gitignore.mustache
  templates/elixir/licenseInfo.mustache
  templates/elixir/mix.exs.mustache
  templates/elixir/model.mustache
  templates/elixir/request_builder.ex.mustache
  templates/elixir/test_helper.exs.mustache
Due: none

change elixir base_url to come from config mix; add test
  templates/elixir/config.exs.mustache
  templates/elixir/connection.ex.mustache
  test/elixir/api_index_test.exs
Due: none

Squashed 'out/manticoresearch-elixir/' content from commit 42fd7e4
  README.md
Due: none

add elixir code, testing and CI
  .gitlab-ci.yml
  build.sh
  out/manticoresearch-elixir/.gitignore
  out/manticoresearch-elixir/.openapi-generator-ignore
  out/manticoresearch-elixir/.openapi-generator/FILES
  out/manticoresearch-elixir/.openapi-generator/VERSION
  out/manticoresearch-elixir/README.md
  out/manticoresearch-elixir/config/config.exs
  out/manticoresearch-elixir/lib/manticoresearch/api/index.ex
  out/manticoresearch-elixir/lib/manticoresearch/api/search.ex
  out/manticoresearch-elixir/lib/manticoresearch/api/utils.ex
  out/manticoresearch-elixir/lib/manticoresearch/connection.ex
  out/manticoresearch-elixir/lib/manticoresearch/deserializer.ex
  out/manticoresearch-elixir/lib/manticoresearch/model/bulk_response.ex
  out/manticoresearch-elixir/lib/manticoresearch/model/delete_document_request.ex
  out/manticoresearch-elixir/lib/manticoresearch/model/delete_response.ex
  out/manticoresearch-elixir/lib/manticoresearch/model/error_response.ex
  out/manticoresearch-elixir/lib/manticoresearch/model/insert_document_request.ex
  out/manticoresearch-elixir/lib/manticoresearch/model/percolate_request.ex
  out/manticoresearch-elixir/lib/manticoresearch/model/search_request.ex
  out/manticoresearch-elixir/lib/manticoresearch/model/search_response.ex
  out/manticoresearch-elixir/lib/manticoresearch/model/search_response_hits.ex
  out/manticoresearch-elixir/lib/manticoresearch/model/success_response.ex
  out/manticoresearch-elixir/lib/manticoresearch/model/update_document_request.ex
  out/manticoresearch-elixir/lib/manticoresearch/model/update_response.ex
  out/manticoresearch-elixir/lib/manticoresearch/request_builder.ex
  out/manticoresearch-elixir/mix.exs
  out/manticoresearch-elixir/test/api_index_test.exs
  out/manticoresearch-elixir/test/test_helper.exs
Due: none

fix for elixir deps in CI
  .gitlab-ci.yml
Due: none

small change
  out/manticoresearch-elixir/README.md
Due: none

add mix config files
  build.sh
  out/manticoresearch-elixir/config/prod.exs
  out/manticoresearch-elixir/config/test.exs
  patches/prod.exs
  patches/test.exs
Due: none

rename mix config prod to dev
  build.sh
  out/manticoresearch-elixir/config/dev.exs
  patches/dev.exs
Due: none

in CI force local.hex for elixir
  .gitlab-ci.yml
Due: none

remove old elixir folder
  out/manticore-elixir/.gitignore
  out/manticore-elixir/.openapi-generator-ignore
  out/manticore-elixir/.openapi-generator/FILES
  out/manticore-elixir/.openapi-generator/VERSION
  out/manticore-elixir/README.md
  out/manticore-elixir/config/config.exs
  out/manticore-elixir/lib/manticoresearch/api/index.ex
  out/manticore-elixir/lib/manticoresearch/api/search.ex
  out/manticore-elixir/lib/manticoresearch/api/utils.ex
  out/manticore-elixir/lib/manticoresearch/connection.ex
  out/manticore-elixir/lib/manticoresearch/deserializer.ex
  out/manticore-elixir/lib/manticoresearch/model/bulk_response.ex
  out/manticore-elixir/lib/manticoresearch/model/delete_document_request.ex
  out/manticore-elixir/lib/manticoresearch/model/delete_response.ex
  out/manticore-elixir/lib/manticoresearch/model/error_response.ex
  out/manticore-elixir/lib/manticoresearch/model/insert_document_request.ex
  out/manticore-elixir/lib/manticoresearch/model/percolate_request.ex
  out/manticore-elixir/lib/manticoresearch/model/search_request.ex
  out/manticore-elixir/lib/manticoresearch/model/search_response.ex
  out/manticore-elixir/lib/manticoresearch/model/search_response_hits.ex
  out/manticore-elixir/lib/manticoresearch/model/success_response.ex
  out/manticore-elixir/lib/manticoresearch/model/update_document_request.ex
  out/manticore-elixir/lib/manticoresearch/model/update_response.ex
  out/manticore-elixir/lib/manticoresearch/request_builder.ex
  out/manticore-elixir/mix.exs
  out/manticore-elixir/test/test_helper.exs
Due: none

update mix and readme file, add ex_doc dep
  out/manticoresearch-elixir/README.md
  out/manticoresearch-elixir/mix.exs
  templates/elixir/README.md.mustache
  templates/elixir/mix.exs.mustache
Due: none

Squashed 'out/manticoresearch-elixir/' changes from 42fd7e4..44b3c61
  .gitignore
  .openapi-generator-ignore
  .openapi-generator/FILES
  .openapi-generator/VERSION
  README.md
  config/config.exs
  config/dev.exs
  config/test.exs
  lib/manticoresearch/api/index.ex
  lib/manticoresearch/api/search.ex
  lib/manticoresearch/api/utils.ex
  lib/manticoresearch/connection.ex
  lib/manticoresearch/deserializer.ex
  lib/manticoresearch/model/bulk_response.ex
  lib/manticoresearch/model/delete_document_request.ex
  lib/manticoresearch/model/delete_response.ex
  lib/manticoresearch/model/error_response.ex
  lib/manticoresearch/model/insert_document_request.ex
  lib/manticoresearch/model/percolate_request.ex
  lib/manticoresearch/model/search_request.ex
  lib/manticoresearch/model/search_response.ex
  lib/manticoresearch/model/search_response_hits.ex
  lib/manticoresearch/model/success_response.ex
  lib/manticoresearch/model/update_document_request.ex
  lib/manticoresearch/model/update_response.ex
  lib/manticoresearch/request_builder.ex
  mix.exs
  test/api_index_test.exs
  test/test_helper.exs
Due: none

fix subtree in CI push jobs
  .gitlab-ci.yml
Due: none

add --yes to mix hex.publish
  .gitlab-ci.yml
Due: none

Path conditions:
  python_testing: any of: out/manticoresearch-python/**/*
  javascript_testing: any of: out/manticoresearch-javascript/**/*
  java_testing: any of: out/manticoresearch-java/**/*
  python_push: any of: out/manticoresearch-python/**/*
  javascript_push: any of: out/manticoresearch-javascript/**/*
  java_push: any of: out/manticoresearch-java/**/*
